body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
}

.row {
  margin: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.row > * {
  margin-inline: 1rem;
}

.activeRow {
  border: 2px solid wheat;
}

.slots {
  display: flex;
  align-items: center;
}

.solution {
  height: 50px;
}

.peg {
  display: inline;
  width: 50px;
  height: 50px;
  border: 1px black solid;
  cursor: pointer;
}

.hint {
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid white;
  display: inline-block;
}

.empty {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.white {
  background-color: green;
}

.grey {
  background-color: grey;
}

.colorPicker {
  display: flex;
}

.color {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.color.active {
  border: 3px solid rgb(39, 39, 39);
}
