body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
}

.row {
  margin: 2rem;
  display: flex;
  align-items: center;
}

.slots {
  display: flex;
  align-items: center;
  margin-inline: 2rem;
}

.peg {
  display: inline;
  width: 50px;
  height: 50px;
  border: 1px black solid;
  cursor: pointer;
}

.empty {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.colorPicker {
  display: flex;
}

.color {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
